{% extends 'base.html.twig' %}

{% block title %}Average Recycling{% endblock %}

{% block body %}
<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">
        <div class="row">
            <div class="col-10 mt-4">
                <h1>2020</h1>
                {{ render_chart(chart) }}
            </div>
        </div>
    </div>
</div>
{%  endblock %}