{% extends 'base.html.twig' %}

{% block title %}Targets Tracker{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>UOS Estates and Facilities Target Tracker</h1>

        <p>The Estates and Facilities Team is part of the Professional Services providing the practical support
            required, to enable the University to fulfil its mission, goals and values. The team consists of around 350
            people (approximately 240 FTE’s) to deliver the following services:</p>
        <ul>
            <li>Strategic estate planning and space management</li>
            <li>Reactive and planned maintenance (building, engineering and landscaping)</li>
            <li>Environmental & energy management and expertise</li>
            <li>New build and capital schemes</li>
            <li>Refurbishments and minor works</li>
            <li>Building management</li>
        </ul>
        <p>This website focuses on our performance against our objectives and provides an insight into some of the
            metrics we perform against</p>
    </div>
    <div class="container">
        <img src="images/Environmental_SustainabilityPerformance.jpg" class="img-fluid" alt="Responsive image">
    </div>
{% endblock %}
