{% extends 'base.html.twig' %}

{% block title %}Target{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="container-fluid">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                Select Objective
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                {% for objective in objectives %}
                    <a class="dropdown-item" href="#">{{ objective }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-10 mt-4">
                <h1>Admin Dashboard</h1>
                {{ render_chart(chart) }}
            </div>
        </div>
    </div>
    <div>
        <h2>Data</h2>
        {% for data in targetData %}
            <p>{{ data.baseline }}</p>
        {% endfor %}
    </div>

    <div id="comments">
        <h2>Comments</h2>
        <p>
            Comments placeholder
        </p>
    </div>
{% endblock %}
